body {
  width: 1920px;
  height: 7815px;
  background-color: white;
}

.hm-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.hm-subtitle{
color: #DF6951;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.8px;
text-transform: uppercase;
}

.hm-title{
width: 583px;
height: 142px;
flex-shrink: 0;
color: #181E4B;
font-family: Volkhov;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 71.042px;
}

.hm-description {
  font-family: "Poppins", sans-serif;
  color: black;
  width: 583px;
  size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
  margin-top: 25px;
}