/*Yüsra-homepage-testimonial*/  
  
.homepage-testimonial{
  border: 5px solid red;
  display: flex;
  position: relative;
  height: 500px;
  justify-content: center;
  
  margin-top: 80px;
  
}
.img-hat {
 position: absolute;

 bottom: 0px;
 left: 0px;
 
}
.img-photo {
 position: absolute;
 top: -80px;
 right: 300px;
}
.img-seashell {
 position: absolute;
 top: -75px;
 left: 300px;
} 

.testimonials-title-container{
border: 5px dotted darkblue;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin: 50px;


}
.testimonials-subtitle{
font-family: 'Poppins', sans-serif;
color: #DF6951;



}
.testimonials-title{
font-family: 'Volkhov', sans-serif;
color: #181E4B;
font-weight: 700;

}

.testimonial-text {
font-family: 'Poppins', sans-serif;
color: black;
font-weight: 400;
background-color: white;
}

.name{
font-family: 'Poppins', sans-serif;
color: black;
font-weight: 700;
position: relative;

}
.name::after{
display: flex;
content: "";
width: 50px;
height: 2px;
background-color:#DF6951;
position: absolute;
left: 50%;
transform: translateX(-50%);
margin-top: 10px;

}